<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/login/fpass/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fpass/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fpass/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fpass/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fpass/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fpass/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fpass/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fpass/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fpass/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fpass/css/util.css">
	<link rel="stylesheet" type="text/css" href="/login/fpass/css/main.css">
<!--===============================================================================================-->
</head>

<p>Date & Time: <span id="datetime"></span></p>

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>

<body bgcolor="gold">
	<div class="top-img">
                    <img src="/login/faculty/images/institute1.PNG" alt="" >
                </div>
	<div class="limiter">
		<div class="container-login100" style="background-color:#e7ffff">
			<div class="wrap-login100">

				 <form class="login100-form validate-form" action="/login/forgot" method="post">

					<p class="w3-text-red">{{# if error }} {{error}} {{/if}}</p>
          <span class="login100-form-title p-b-26">
						Forgot password
					</span>
          <br>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="Enter email"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Enter
							</button>


						</div>
					</div>
					<div style="padding-left:18%;padding-right:3%;">
						<span class="txt1">
							Don’t have an account?
						</span>
					</div>
					<div>
						<div style="float:left;width:50%;">
							<a class="txt2" href="/faculty/signin" style="color:blue;">
								Faculty Sign Up
							</a>
						</div>
						<div style="float:left;width:50%;">
							<a class="txt4" href="/student/signin" style="color:green;">
								Student Sign Up
							</a>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="/login/fpass/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/login/fpass/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/login/fpass/vendor/bootstrap/js/popper.js"></script>
	<script src="/login/fpass/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/login/fpass/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/login/fpass/vendor/daterangepicker/moment.min.js"></script>
	<script src="/login/fpass/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/login/fpass/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/login/fpass/js/main.js"></script>

</body>

</html>
<script>
function resetPassword(emailAddress){
    firebase.auth().sendPasswordResetEmail(emailAddress).then(function() {
      console.log('email sent!');
    }).catch(function(error) {
      // An error happened.
    });
}
</script>
